{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Buscar jugador</h1>

<form class="form-container" method="post">
    {% csrf_token %}
    <label for="buscar-jugador">Nombre del jugador:</label>
    <input id="buscar-jugador" name="nombre" autocomplete="off">
    <input type="hidden" id="jugadores" value="{{ jugadores }}">
    <button type="submit">Buscar</button>
</form>

{% if jugadores %}
<ul>
    {% for jugador in jugadores %}
    <li>{{ jugador.nombre }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block extra_css %}
<link href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.min.css" rel="stylesheet">
<link href="{% static 'css/buscar_jugador.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/buscar_jugador.js' %}"></script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var jugadores = $('#jugadores').val().split(',');
        $('#buscar-jugador').autocomplete({
            source: jugadores
        });
    });
</script>
{% endblock %}

{% endblock %}