{% extends 'base.html' %}
{% block content %}
<h1>Buscar jugador</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<form class="form-container" method="post">
    {% csrf_token %}
    <label for="buscar-jugador">Nombre del jugador:</label>
    <input id="buscar-jugador" name="nombre" autocomplete="on">
    <datalist id="lista-jugadores"></datalist>
    <button type="submit">Buscar</button>
</form>

{% if jugadores %}
<ul>
    {% for jugador in jugadores %}
    <li>{{ jugador.nombre }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block extra_css %}
<link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% load static %}
<script src="{% static 'js/buscar_jugador.js' %}" type="text/javascript"></script>
{% endblock %}