{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Importar jugadores</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary mt-3" type="submit">Importar</button>
    </form>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}

{% block extra_css %}
{% block css %}
<link href="{% static 'importar_jugadores.css' %}" rel="stylesheet">
{% endblock %}
{% endblock %}