{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mb-4">Cerrar sesión</h2>
  <p>¿Estás seguro de que quieres cerrar sesión?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí</button>
  </form>
</div>
{% endblock %}

<style>
  .container {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  button {
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 20px;
  }
</style>