{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Solicitud de verificación de identidad</h5>
                    <hr>
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nombres">Nombres:</label>
                            <input class="form-control" id="nombres" name="nombres" placeholder="Ingrese sus nombres">
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos:</label>
                            <input class="form-control" id="apellidos" name="apellidos"
                                placeholder="Ingrese sus apellidos">
                        </div>
                        <div class="form-group">
                            <label for="cedula">Cédula:</label>
                            <input class="form-control" id="cedula" name="cedula"
                                placeholder="Ingrese su número de cédula">
                        </div>
                        <div class="form-group">
                            <label for="foto_cedula">Foto de la cédula:</label>
                            <input class="form-control-file" id="foto_cedula" name="foto_cedula" placeholder="Tu foto"
                                data-browse="Elegir archivo" title="Haz clic aquí para seleccionar una imagen"
                                type="file">
                        </div>
                        <button class="btn btn-primary m-0 mt-1" type="submit">Enviar solicitud</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block css %}
{% load static %}
<link href="{% static 'css/solicitar_verificacion.css' %}" rel="stylesheet">
{% endblock %}
{% endblock %}