.container {
    margin-top: 50px
}

.card {
    width: 60%;
    margin: auto
}

h2.card-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center
}

p.card-text {
    font-size: 24px;
    text-align: center
}