.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #005ea4;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 700;
    font-size: 18px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 5px;
}

button {
    background-color: #FFFFFF;
    color: #0C2340;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background-color: #005ea4;
    color: #fff;
}